node_modules
build
dist
dev
doc
tmp
bower_components
styleguide

.sass-cache
.css

.idea
.DS_Store
Gemfile.lock
*.bat
*.bundle
*.cache
*.log
*.sass-cache
*.sublime-project
*.sublime-workspace
*.temp
*.tmp
