---
title: Documentation
heading:  'KSS Styleguide'
section: styleguide
---
<div class="rb-page-section">
	<div class="page-section-inner">
		<div class="is-column-group is-gutters">
			<div class="is-size-70">
				{{> content }}
			</div>
			<div class="is-size-30">
				{{> sub-navigation }}
			</div>
		</div>
	</div>
</div>



