<!DOCTYPE html>
 <html lang="de" class="no-js">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=IE7" />

	<meta charset="utf-8" />
	<title>{{ title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!--Just for testing-->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css">

	<link href="css/styles.css" rel="stylesheet" />
</head>
<body>
	<header class="rb-page-header">
		<div class="page-header-block is-column-group is-gutters">
			<div class="is-size-auto is-offset-left">
				<div class="rb-logo">
					<h1 class="logo-title"><a href="index.html">Project Documentation</a></h1>
				</div>
			</div>
			<div class="is-size-auto is-offset-right">
				{{> main-navigation }}
			</div>
		</div>
	</header>
	<main class="rb-page-main">
		{{> body }}
	</main>

	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	</body>
</html>
